.shoestore-top {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}

.shoestore-bar .shoestore-bar-item {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
    color: black;
    text-decoration: none;
}

.shoestore-bar {
    margin: 0px;
    padding: 0px;
    outline: 0;
    text-decoration: none;
}

.shoestore-right {
    float: right !important;
}

.shoestore-button:hover {
    color: #000 !important;
    background-color: goldenrod !important;
}

.shoestore-bar {
    width: 100%;
    overflow: hidden;
    margin: 0;
}

.shoestore-white {
    color: #000 !important;
    background-color: whitesmoke !important;
}

.shoestore-wide {
    letter-spacing: 4px;
}

.shoestore-padding {
    padding: 7px !important;
}
